<html>
    <head>
        <title>
            Blog Posts
        </title>
        <link rel ="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class ="comments outline icon"> </i>Blog Post</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
        
   